body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

.link {
    text-decoration: none;
}

.header {
    background-color: #FFFFFF;
}

.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

/* HEADER */
.header-logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: black;
}

.header-link:hover {
    color: #2196F3
}

.header-link:focus {
    color: #2196F3
}

.header-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.header-mail:hover,
.header-tel:hover {
    color: #2196F3
}

.header-mail:focus,
.header-tel:focus {
    color: #2196F3
}

.header-mail,
.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

/* index.html */
.start {
    background-color: #2F303A;
}

.start-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.start-button {
    background: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.work-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-sub-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #757575
}






/* Portfolio */

/* Button */
.navig-button {
    background-color: #F5F4FA;
    color: #212121;
}

.navig-button:hover {
    color: #FFFFFF;
    background-color: #2196F3;
}

.navig-button:focus {
    color: #2196F3
}

/* Main */

.main-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.main-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}

/* Foter */
.fotter {
    background-color: #2F303A;

}

.f-logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3
}

.fotter-logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.fotter-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.fotter-logo:focus, .fotter-text:focus{
    color: #2196F3
}

.fotter-mail,
.fotter-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.fotter-mail:hover,
.fotter-tel:hover {
    color: #2196F3
}

.fotter-mail:focus,
.fotter-tel:focus {
    color: #2196F3
}